@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ethan Hodge</h1>
    <div class = "row" style = "padding: 30px">
        <div class = "columnA"><img src = "~/Images/ProfilePicture.jpg" alt = "Profile Picture" width = "300" border = "2"></div>
        <div class = "columnB" style = "text-align:left">
            <h5 style = "padding: 10px">
                Hello, my name is Ethan and welcome to my website resume!
            </h5>
            <div style = "padding: 10px">
                The purpose of this website is to have information about myself that may not show up in a formal resume/coverletter.
            </div>
            <h5 style = "padding: 10px">
                About Me
            </h5>
            <div style = "padding: 10px; padding-top : 0px">
                Currently I am enrolled in the University of Guelph as a second year Engineering Systems and Computing student (Coop).
                 I am originally from Sudbury Ontario where you could usually find me at one of the beaches.
                  In my free time I like to watch tv and work on my side projects (often at the same time).
                   During the school year, I like to spend as much time as I can on campus to make up for the portions that we had to do online.
                    My other interests include innertube waterpolo, sudoku, and spending time with my family.
            </div>
        </div>
    </div>
    
</div>
