@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ethan Hodge</h1>
    <div class = "row" style = "padding: 30px">
        <div class = "columnA"><img src = "~/Images/ProfilePicture.jpg" alt = "Profile Picture" width = "100%" border = "2"></div>
        <div class = "columnB" style = "text-align:left">
            <h5 style = "padding: 10px">
                Hello, my name is Ethan and welcome to my website resume!
            </h5>
            <div style = "padding: 10px">
                The purpose of this website is to have information about myself that may not show up in a formal resume/coverletter.
            </div>
            <h4 style = "padding: 10px">
                About Me
            </h4>
            <div style = "padding: 10px; padding-top : 0px">
                Currently I am enrolled in the University of Guelph as a second year Engineering Systems and Computing student (Coop).
                 I am originally from Sudbury Ontario where you could usually find me at one of the beaches.
                  In my free time I like to watch tv and work on my side projects (often at the same time).
                   During the school year, I like to spend as much time as I can on campus to make up for the portions that we had to do online.
                    My other interests include innertube waterpolo, sudoku, and spending time with my family.
            </div>
        </div>
    </div>
    <div style = "text-align: left; padding: 10px">   
        <h4>
            Academic Life
        </h4>
       <div style = "padding-bottom: 10px">
          As a second year university student, I take academics seriously. I have always enjoyed learning and have appreciated my learning environment. I currently have a cumulative average of 91%.
       </div> 
        <h5>
            Academic History
        </h5>
         <ul>
           <li><div style = "font-weight: bold">University of Guelph</div>Engineering Systems and Computing (Coop), 2nd Year.</li>
           <li><div style = "font-weight: bold">St Benedict CSS (Highschool)</div>Graduated in 2020.</li>
        </ul>
        <h5>
            Awards and Distinctions
        </h5>
        <ul>
           <li>
               <div style = "font-weight: bold">The Board of Governors' Scholarship</div>
                Awarded for obtaining the highest average of the entering 2020 Engineering cohort.
           </li>
            <li>
               <div style = "font-weight: bold">CEPS Dean's Scholarship</div>
                Awarded for obtaining an average of 85% or higher during the first year of my degree program.
           </li>
           <li>
               <div style = "font-weight: bold">University of Guelph Entrance Scholarship</div>
                Awarded for obtaining a 95% average or higher in grade 12.
           </li>
           <li>
               <div style = "font-weight: bold">Association of Professional Engineers of Ontario Scholarship</div>
                Awarded in recognition of academic achievement.
           </li>
       </ul>
       <h5>
            Academic Interests
       </h5>
        <div style = "padding-bottom: 10px">
           During the course of my education I have always enjoyed computer programming, math, and physics. Currently I am very interested in Artificial Neural Networks (ANN's'), Embedded Systems Design and Control Theory.
            One topic that is exciting are simulations of ecosystems and environments over time with the goal of trying to model the concepts of evolution specifically through mutation.
             Another topic I find very interesting is the exploration of Control Theory in the development of various systems (this is very important to me as it is the nature of my degree program to be a Systems Engineer).
       </div> 
       <h4>
            Career
       </h4>
        <h5>
            Experience
       </h5>
        <div style = "padding-bottom: 10px">

       </div> 
       <h4>
            Skills
       </h4>
        <h5>
            Technical
        </h5>
        <h5>
            Soft
        </h5>
    </div>
    
</div>
