@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ethan Hodge</h1>
    <div style = "text-align: left" ><img src = "/Images/ProfilePicture.jpg" alt = "Profile Picture" width = "300" border = "2"></div>
</div>
