@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}
<div class="text-center">
    <h1 class="display-4">Projects</h1>
    The following are my most interesting projects that I have worked on:
    <!--This Website, Chess, Checkers, ePortfolio, Various other projects -->
    <div class = "row">
        <div style = ""></div>
    </div>

    <div class = "row">

    </div>




</div>
